VITE_SUPABASE_URL=https://ujnllredeywxipjzrkpg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_m_RNKyXxuSvkyEBhnUvvXA_eQ_HAc1X
VITE_ADMIN_USERNAME=muggu murali krishna
VITE_ADMIN_PASSWORD=Muggu@1995
